{
  "extends": ["@matterlabs/eslint-config-typescript"],
  "rules": {
    "no-multiple-empty-lines": ["error", { "max": 1 }],
    "@typescript-eslint/no-namespace": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "import/no-named-as-default-member": "off",
    "import/namespace": "off",
    "import/no-unresolved": "off",
    "import/order": "off",
    "no-console": "off"
  },
  "ignorePatterns": [
    "**/lib/*"
  ]
}
