.idea
.vscode
artifacts-forge/
artifacts-zk/
artifacts/
build/
cache-forge/
cache-zk/
cache/
contracts-preprocessed/
.DS_Store
node_modules/
target/
tools/data/Verifier.sol
typechain/
yarn-debug.log*
yarn-error.log*
