[submodule "l1-contracts/lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "l1-contracts/lib/murky"]
	path = lib/murky
	url = https://github.com/dmfxyz/murky
[submodule "l1-contracts/lib/openzeppelin-contracts-upgradeable"]
	path = lib/openzeppelin-contracts-upgradeable
	url = https://github.com/Openzeppelin/openzeppelin-contracts-upgradeable
	branch = release-v4.9
[submodule "l1-contracts/lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/Openzeppelin/openzeppelin-contracts
	branch = release-v4.9
[submodule "l2-contracts/lib/forge-std"]
	path = l2-contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "system-contracts/lib/forge-std"]
	path = system-contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
