.DS_Store
.idea
.vscode
artifacts-forge/
artifacts-zk/
artifacts/
build/
cache-forge/
cache-zk/
cache/
contracts-preprocessed/
era_test_node.log*
node_modules/
out/
target/
tools/data/Verifier.sol
typechain/
yarn-debug.log*
yarn-error.log*
system-contracts/contracts/EvmInterpreterPreprocessed.yul
l1-contracts/yarn-error.log*
l1-contracts/lcov.info
l1-contracts/report/*
l1-contracts/coverage/*
l1-contracts/out/*
l1-contracts-foundry/broadcast/*
l1-contracts-foundry/script-out/*
!l1-contracts-foundry/script-out/.gitkeep
*.timestamp
