[submodule "lib/murky"]
	path = lib/murky
	url = https://github.com/dmfxyz/murky
[submodule "lib/openzeppelin-contracts-upgradeable-v4"]
	path = lib/openzeppelin-contracts-upgradeable-v4
	url = https://github.com/Openzeppelin/openzeppelin-contracts-upgradeable
	branch = release-v4.9
[submodule "lib/openzeppelin-contracts-v4"]
	path = lib/openzeppelin-contracts-v4
	url = https://github.com/Openzeppelin/openzeppelin-contracts
	branch = release-v4.9
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/@matterlabs/zksync-contracts"]
	path = lib/@matterlabs/zksync-contracts
	url = https://github.com/matter-labs/v2-testnet-contracts
