* @vladbochok @StanislavBreadless
l1-contracts/deploy-scripts @Deniallugo
l1-contracts/deploy-script-config-template @Deniallugo
.solhint.json @nikitastupin-matterlabs
.solhintignore @nikitastupin-matterlabs
