[profile.default]
src = "contracts"
out = "out"
libs = ["lib"]
cache_path = "cache-forge"
test = "test/foundry"
solc_version = "0.8.24"
evm_version = "cancun"
allow_paths = ["../l2-contracts/contracts"]
fs_permissions = [
    { access = "read", path = "../system-contracts/bootloader/build/artifacts" },
    { access = "read", path = "../system-contracts/artifacts-zk/contracts-preprocessed" },
    { access = "read", path = "../l2-contracts/artifacts-zk/" },
    { access = "read", path = "../l2-contracts/zkout/" },
    { access = "read", path = "../system-contracts/zkout/" },
    { access = "read", path = "./script-config" },
    { access = "read-write", path = "./script-out" },
    { access = "read", path = "./out" },
    { access = "read", path = "./deploy-script-config-template/config-deploy-erc20.toml" },
    { access = "read", path = "./deploy-script-config-template/config-deploy-l1.toml" },
    { access = "read", path = "./deploy-script-config-template/register-hyperchain.toml" },
    { access = "read-write", path = "./script-out/output-deploy-l1.toml"},
    { access = "read-write", path = "./script-out/output-deploy-erc20.toml"}
]
ignored_error_codes = ["missing-receive-ether", "code-size"]
ignored_warnings_from = ["test", "contracts/dev-contracts"]
remappings = [
    "forge-std/=lib/forge-std/src/",
    "murky/=lib/murky/src/",
    "foundry-test/=test/foundry/",
    "@openzeppelin/contracts-v4/=lib/openzeppelin-contracts-v4/contracts/",
    "@openzeppelin/contracts-upgradeable-v4/=lib/openzeppelin-contracts-upgradeable-v4/contracts/",
]
optimizer = true
optimizer_runs = 9999999
