[profile.default]
src = "contracts"
out = "out"
libs = ["node_modules", "../lib"]
cache_path = "cache-forge"
test = "test/foundry"
solc_version = "0.8.24"
evm_version = "cancun"
ignored_error_codes = ["missing-receive-ether", "code-size"]
ignored_warnings_from = ["test", "contracts/dev-contracts"]
remappings = [
    "forge-std/=../lib/forge-std/src/",
    "murky/=../lib/murky/src/",
    "foundry-test/=test/foundry/",
    "@openzeppelin/contracts-v4/=../lib/openzeppelin-contracts-v4/contracts/",
    "@openzeppelin/contracts-upgradeable-v4/=../lib/openzeppelin-contracts-upgradeable-v4/contracts/",
    "l2-contracts/=../l2-contracts/contracts/",
]
