# Compiler files
cache/
cache-forge-tests/
out/
out-tests/
zkout/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

# Test files
.cache/
anvil-zksync.log
bin/
