name: Build and release(manual & tags)

on:
  workflow_dispatch:
    inputs:
      tag:
        type: string
        description: tag to build from
        required: true
  push:
    tags:
      - "v*" # for main releases
      - "zkos*" # for zk releases

jobs:
  build-contracts:
    runs-on: ubuntu-latest

    steps:
      - name: Resolve tag
        id: vars
        run: |
          if [ "${{ github.event_name }}" = "workflow_dispatch" ]; then
            echo "TAG=${{ inputs.tag }}" >> $GITHUB_OUTPUT
          else
            # For push/create on a tag, github.ref looks like 'refs/tags/<tag>'
            echo "TAG=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT
          fi
          echo "Resolved TAG=${{ steps.vars.outputs.TAG }}"

      - name: Checkout the repository
        uses: actions/checkout@v4
        with:
          ref: ${{ steps.vars.outputs.TAG }}
          submodules: recursive

      - name: Install foundry-zksync
        run: |
          mkdir ./foundry-zksync
          curl -LO https://github.com/matter-labs/foundry-zksync/releases/download/nightly-27360d4c8d12beddbb730dae07ad33a206b38f4b/foundry_nightly_linux_amd64.tar.gz
          tar zxf foundry_nightly_linux_amd64.tar.gz -C ./foundry-zksync
          chmod +x ./foundry-zksync/forge ./foundry-zksync/cast
          echo "$PWD/foundry-zksync" >> $GITHUB_PATH

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18.18.0
          cache: yarn

      - name: Init
        id: init
        run: |
          yarn

      - name: Build l1 contracts
        working-directory: l1-contracts
        run: |
          yarn build:foundry

      - name: Build l2 contracts
        working-directory: l2-contracts
        run: |
          yarn build:foundry

      - name: Build system-contracts
        working-directory: system-contracts
        run: |
          yarn install
          yarn build:foundry

      - name: Prepare artifacts
        run: |
          tar -czvf l1-contracts.tar.gz ./l1-contracts
          tar -czvf l2-contracts.tar.gz ./l2-contracts
          tar -czvf system-contracts.tar.gz ./system-contracts

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ steps.vars.outputs.TAG }}
          fail_on_unmatched_files: true
          files: |
            l1-contracts.tar.gz
            l2-contracts.tar.gz
            system-contracts.tar.gz
