name: L2 contracts CI

on:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install foundry-zksync
        run: |
          mkdir ./foundry-zksync
          curl -LO https://github.com/matter-labs/foundry-zksync/releases/download/nightly/foundry_nightly_linux_amd64.tar.gz
          tar zxf foundry_nightly_linux_amd64.tar.gz -C ./foundry-zksync
          chmod +x ./foundry-zksync/forge ./foundry-zksync/cast
          echo "$PWD/foundry-zksync" >> $GITHUB_PATH

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18.18.0
          cache: yarn

      - name: Install dependencies
        run: yarn

      - name: Build l1 contracts
        working-directory: l1-contracts
        run: |
          forge build --via-ir

      - name: Build l2 contracts
        working-directory: l2-contracts
        run: |
          forge build --zksync --zk-enable-eravm-extensions

      - name: Create cache
        uses: actions/cache/save@v3
        with:
          key: artifacts-l1-${{ github.sha }}
          path: |
            l1-contracts/cache-forge
            l1-contracts/out
            l2-contracts/cache-forge
            l2-contracts/zkout

  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18.18.0
          cache: yarn

      - name: Install dependencies
        run: yarn

      - name: Lint
        run: yarn lint:check

  test:
    needs: [build, lint]
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18.18.0
          cache: yarn

      - name: Install dependencies
        run: yarn

      - name: Restore artifacts cache
        uses: actions/cache/restore@v3
        with:
          fail-on-cache-miss: true
          key: artifacts-l2-${{ github.sha }}
          path: |
            l1-contracts/artifacts
            l1-contracts/cache
            l1-contracts/typechain
            l2-contracts/artifacts-zk
            l2-contracts/cache-zk
            l2-contracts/typechain

      - name: Run Era test node
        uses: dutterbutter/era-test-node-action@v0.1.3

      - name: Run tests
        run: yarn l2 test
