name: L2 contracts CI

on:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install foundry-zksync
        run: |
          mkdir ./foundry-zksync
          curl -LO https://github.com/matter-labs/foundry-zksync/releases/download/nightly/foundry_nightly_linux_amd64.tar.gz
          tar zxf foundry_nightly_linux_amd64.tar.gz -C ./foundry-zksync
          chmod +x ./foundry-zksync/forge ./foundry-zksync/cast
          echo "$PWD/foundry-zksync" >> $GITHUB_PATH

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18.18.0
          cache: yarn

      - name: Install dependencies
        run: yarn

      - name: Build l1 contracts
        working-directory: l1-contracts
        run: |
          yarn build:foundry

      - name: Build l2 contracts
        working-directory: l2-contracts
        run: |
          yarn build:foundry

      - name: Build system contract artifacts
        run: yarn sc build

      - name: Create cache
        uses: actions/cache/save@v3
        with:
          key: artifacts-l2-${{ github.sha }}
          path: |
            l1-contracts/cache-forge
            l1-contracts/out
            l2-contracts/cache-forge
            l2-contracts/zkout
            system-contracts/cache-forge
            system-contracts/zkout

  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18.18.0
          cache: yarn

      - name: Install dependencies
        run: yarn

      - name: Lint
        run: yarn lint:check

  check-verifier-generator-l2:
    needs: [build]
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Generate Verifier.sol
        working-directory: tools
        run: cargo run --bin zksync_verifier_contract_generator --release -- --input_path data/scheduler_key.json --l2_mode

      - name: Compare
        run: diff tools/data/Verifier.sol l2-contracts/contracts/verifier/Verifier.sol

  test:
    needs: [build, lint]
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18.18.0
          cache: yarn

      - name: Install dependencies
        run: yarn

      - name: Restore artifacts cache
        uses: actions/cache/restore@v3
        with:
          fail-on-cache-miss: true
          key: artifacts-l2-${{ github.sha }}
          path: |
            da-contracts/out
            l1-contracts/cache-forge
            l1-contracts/out
            l1-contracts/zkout
            l2-contracts/cache-forge
            l2-contracts/zkout

      - name: Install foundry zksync
        run: |
          wget https://github.com/matter-labs/foundry-zksync/releases/download/nightly-f908ce43834bc1ffb4de6576ea5600eaab49dddb/foundry_nightly_linux_amd64.tar.gz -O foundry-zksync.tar.gz
          tar -xzf foundry-zksync.tar.gz
          sudo mv forge /usr/local/bin/forge
          sudo mv cast /usr/local/bin/cast
          sudo chmod +x /usr/local/bin/forge
          sudo chmod +x /usr/local/bin/cast
          forge --version

      - name: Run tests
        run: yarn l2 test:foundry
