name: Slither scanner

on: pull_request

jobs:
  slither:
    name: Slither check
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the repository
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18.20.8
          cache: yarn

      - name: Install dependencies
        run: yarn

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.8

      - name: Install foundry-zksync
        uses: ./.github/actions/install-zksync-foundry

      - name: Install Slither
        run: |
          pip install slither-analyzer

      - name: Remove non-compiled files
        run: |
          rm -rf ./l1-contracts/contracts/state-transition/utils/
          rm -rf ./l1-contracts/contracts/state-transition/verifiers/EraDualVerifier.sol
          rm -rf ./l1-contracts/contracts/state-transition/verifiers/ZKsyncOSDualVerifier.sol
          rm -rf ./l1-contracts/contracts/state-transition/verifiers/EraVerifierPlonk.sol
          rm -rf ./l1-contracts/contracts/state-transition/verifiers/EraVerifierFflonk.sol
          rm -rf ./l1-contracts/contracts/state-transition/verifiers/ZKsyncOSVerifierPlonk.sol
          rm -rf ./l1-contracts/contracts/state-transition/verifiers/ZKsyncOSVerifierFflonk.sol
          rm -rf ./l1-contracts/contracts/state-transition/verifiers/EraTestnetVerifier.sol
          rm -rf ./l1-contracts/contracts/state-transition/verifiers/ZKsyncOSTestnetVerifier.sol
          rm -rf ./l1-contracts/contracts/dev-contracts/test/PlonkVerifierTest.sol
          rm -rf ./l1-contracts/contracts/dev-contracts/test/PlonkVerifierRecursiveTest.sol
          rm -rf ./l1-contracts/contracts/dev-contracts/test/VerifierTest.sol
          rm -rf ./l1-contracts/contracts/dev-contracts/test/VerifierRecursiveTest.sol
          rm -rf ./l1-contracts/contracts/dev-contracts/test/DummyPlonkVerifier.sol
          rm -rf ./l1-contracts/contracts/state-transition/chain-deps/GatewayCTMDeployer.sol
          rm -rf ./l1-contracts/contracts/script-interfaces/
          rm -rf ./l1-contracts/deploy-scripts/

      - name: Run Slither for L1 contracts
        working-directory: ./l1-contracts
        # FIXME? --skip assembly because otherwise IR for DummyPlonkVerifier can't be generated (Slither issue).
        run: |
          slither --config ./slither.config.json --skip-assembly .

      - name: Run Slither for L2 contracts
        working-directory: ./l2-contracts
        run: |
          slither --config ./slither.config.json --skip-assembly .
